/* Background styles */
body {
    background-image: url('https://sandydunlop.github.io/media/glasgow-charing-cross.jpeg');
    background-position: center;
}


.glass-background {
    background-color: rgb(17, 25, 39);
    background-image: url(https://sandydunlop.github.io/media/glasgow-charing-cross.jpeg);
    background-position-x: 50%;
    background-position-y: 50%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: rgb(156, 163, 175);
    display: block;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 497.188px;
    line-height: 24px;
    min-height: 400px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
}

.glass-card {
    background: rgba(17, 25, 40, 0.75);
    border-radius: 12px;

    position:absolute;top:50%;transform:translate(-50%, -50%);
    left:50%;
    min-width: 600px;width:50%;
    text-align:center; vertical-align: middle;
    margin: auto;

    backdrop-filter: blur(14px) saturate(1.8);
    -webkit-backdrop-filter: blur(14px) saturate(180%);

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(17, 25, 40, 0.75);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-size: auto;
    border-bottom-color: rgba(255, 255, 255, 0.125);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(255, 255, 255, 0.125);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(255, 255, 255, 0.125);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(255, 255, 255, 0.125);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 401.188px;
    line-height: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.card-header {
    --bs-font-sans-serif: "Inter",sans-serif;
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18,21,26,0);
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    word-wrap: break-word;
    text-align: center!important;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border: 0!important;
    border-width: 0!important;
    padding-bottom: 0!important;
    border-radius: 3px 3px 0 0;
    background: transparent;
}

.card-body{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18,21,26,0);
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    word-wrap: break-word;
    text-align: center!important;
    color: #fff;
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: 1.25rem 1.5rem;
}

.image-lg{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18,21,26,0);
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    word-wrap: break-word;
    text-align: center!important;
    color: #fff;
    box-sizing: border-box;
    margin-left: auto!important;
    margin-right: auto!important;
    height: 9rem;
    width: 9rem;
}

.rounded-circle {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18,21,26,0);
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    word-wrap: break-word;
    text-align: center!important;
    color: #fff;
    box-sizing: border-box;
    vertical-align: middle;
    max-width: 100%;
    border: 1px solid rgba(209,213,219,.3)!important;
    border-width: 1px!important;
    padding: 1rem!important;
    border-radius: 50%!important;
    height: 9rem;
    width: 9rem;
}

.card-title  {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18,21,26,0);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    word-wrap: break-word;
    text-align: center!important;
    box-sizing: border-box;
    line-height: 1.3;
    margin-top: 0;
    font-size: 1.25rem;
    margin-bottom: 1rem!important;
    font-family: Inter,sans-serif;
    font-weight: 500;
    color: #fff;
}


.card-text{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18,21,26,0);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    word-wrap: break-word;
    text-align: center!important;
    box-sizing: border-box;
    margin-top: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
    color: #9ca3af!important;
}

.card-text a {
    color:deepskyblue;
}